	<div class=" margemtopo loginmodal-container">
	   		<h3>Cadastro Coordenador</h3>

	   		<form name="coordForm" ng-submit="doCoordenador(coordForm)">

	   			<div class="form-group">
					<label for="siap" class="control-label"> SIAP <span style="color: red">*</span></label>
					<input ng-model="coordenador.siap" type="text" class="form-control" id="siap" name="siap" required>
				</div>

				<div class="form-group">
					<label for="cargo" class="control-label"> Cargo <span style="color: red">*</span></label>
					<input ng-model="coordenador.cargo" type="text" class="form-control" id="cargo" name="cargo" required>
				</div>

	   			<div class="form-group">
					<label for="cpf" class="control-label"> CPF <span style="color: red">*</span></label>
					<input ng-model="users.cpf" type="text" class="form-control" id="cpf" name="cpf" required>
				</div>

				<div class="form-group">
					<label for="rg" class="control-label"> RG <span style="color: red">*</span></label>
					<input ng-model="users.rg" type="text" class="form-control" id="rg" name="rg" required>
				</div>

				<div class="form-group">
					<label for="nome" class="control-label"> Nome <span style="color: red">*</span></label>
					<input ng-model="users.nome" type="text" class="form-control" id="nome" name="nome" required>
				</div>

				<div class="form-group">
					<label for="email" class="control-label"> Email <span style="color: red">*</span></label>
					<input ng-model="users.email" type="email" class="form-control" id="email" name="email" required>
				</div>

				<div class="form-group">
					<label for="senha" class="control-label"> Senha <span style="color: red">*</span></label>
					<input ng-model="users.senha" type="password" class="form-control" id="senha" name="senha" required>
				</div>

				<div class="form-group">
					<label class="radio-inline"><input type="radio" ng-model="users.acesso_idacesso" name="acesso" value="2" > Coordenador </label>
				</div>
				<button type="submit" class="btn btn-primary btn-block" name="submit">Cadastrar - Se</button>
	    	</form>
	    
	</div>


