<div ng-include="'view/common/commonNav.html'"></div>
<div class="margemtopo loginmodal-container">
	   		<h3 class="page-header">Cadastro Estagio</h3>

	   		<form name="form_estagio" ng-submit="doEstagio(form_estagio)">

	   			<div class="form-group date col-md-8">
					<label for="data-inicio" class="control-label">Data Inicio *</label>
					<input type="text" class="form-control data " id="data-inicio" ng-model="estagio.datainicio" name="data-inicio" required="requiored">
				</div>

				<div class="form-group date col-md-8">
					<label for="data-fim" class="control-label">Data Fim *</label>
					<input type="text" class="form-control data " id="data-fim" ng-model="estagio.datafim" name="data-fim" required="requiored">
				</div>

				<div class="form-group">
					<label class="radio-inline"><input type="radio" name="status" ng-model="estagio.status" value="P" >P</label>
					<label class="radio-inline"><input type="radio" name="status" ng-model="estagio.status" value="A" >A</label>
					<label class="radio-inline"><input type="radio" name="status" ng-model="estagio.status" value="CA" >CA</label>
					<label class="radio-inline"><input type="radio" ng-model="estagio.status" name="status" value="CR" >CR</label>
				</div>


				<!---- <div class="row">
					<div class="form-group col-md-6">
						<label for="rga" class="control-label">Aluno
							<option value="">Selecione...</option>
							<?php
								$result_aluno = "SELECT * FROM aluno ORDER BY rga";
								$resultado_aluno = mysqli_query($link, $result_aluno);
								while($row_aluno = mysqli_fetch_assoc($resultado_aluno)){
									echo '<option value="'.$row_aluno['rga'].'">'.$row_aluno['users_cpf'].'</option>';
								}
							?>
						</select>
					</div>
				</div> 
				<div class="row">
					<div class="form-group col-md-6">
						<label for="idsupervisor" class="control-label">Supervisor
							<option value="">Selecione...</option>
							<?php
								$result_supervisor = "SELECT * FROM supervisor ORDER BY idsupervisor";
								$resultado_supervisor = mysqli_query($link, $result_supervisor);
								while($row_supervisor = mysqli_fetch_assoc($resultado_supervisor)){
									echo '<option value="'.$row_estagio['idsupervisor'].'">'.$row_supervisor['users_cpf'].'</option>';
								}
							?>
						</select>
					</div>
				</div> --->

				<br />
				<button type="submit" class="btn btn-primary form-control" name="submit">Cadastrar</button>
	    	</form>
	</div>


