<div ng-include="'view/common/commonNav.html'"></div>
	<div class="margemtopo loginmodal-container">
	   	<br />
	   	<div class="col-md-2"></div>

	   	<div class="col-md-7">
	   		<h3 class="page-header">Cadastro Vagas</h3>

	   		<form name="form_vagas" ng-submit="doVagas(form_vagas)">
				<div class="form-group">
	            	<label for="titulo" class="control-label">Titulo <span style="color: red">*</span></label>
					<input type="text" class="form-control" id="titulo" ng-model="vagas.titulo" name="titulo" required="requiored">
				</div>

				<div class="form-group">
					<label for="area" class="control-label">Area <span style="color: red">*</span></label>
					<input type="text" class="form-control" id="area" ng-model="vagas.area" name="area" required>
				</div>

				<div class="form-group">
					<label for="requisito" class="control-label">Requisitos para a vaga <span style="color: red">*</span></label>
					<input type="text" class="form-control" id="requisito" ng-model="vagas.requisito" name="requisito" required>
				</div>

				<!---<div class="row">
					<div class="form-group col-md-6">
						<label for="idsupervisor" class="control-label">Supervisor
							<option value="">Selecione...</option>
							<?php
								$result_supervisor = "SELECT * FROM supervisor ORDER BY idsupervisor";
								$resultado_supervisor = mysqli_query($link, $result_supervisor);
								while($row_supervisor = mysqli_fetch_assoc($resultado_supervisor)){
									echo '<option value="'.$row_estagio['idsupervisor'].'">'.$row_supervisor['users_cpf'].'</option>';
								}
							?>
						</label>
					</div>
				</div> --->

				<div class="form-group">
					<label class="radio-inline"><input type="radio" ng-model="vagas.status" name="status" value="A" >A</label>
					<label class="radio-inline"><input type="radio" ng-model="vagas.status" name="status" value="R" >R</label>
					<label class="radio-inline"><input type="radio" ng-model="vagas.status" name="status" value="E" >E</label>
				</div>

				<br />
				<button type="submit" class="btn btn-primary form-control" name="submit">Cadastrar</button>
	    	</form>
	</div>


