<div ng-include="'view/common/commonNav.html'"></div>

<header class="masthead" style="background-image: url('svg/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-lg-12 mx-auto">
                <div class="site-heading">
                    <h1>Estagio PW</h1>
                    <span class="subheading">Bem-vindo à sua plataforma de estágio!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="#!/dashboard">
                    <h2 class="post-title">
                        Aqui podem ter umas novidades legais!
                    </h2>
                    <h3 class="post-subtitle">
                        Tipo bem legais mesmo!
                    </h3>
                </a>
                <p class="post-meta">Olha só
                    <a href="#">Olha lá</a>
                    on September 24, 2018</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        Firmino é preso após cegar motorista com seu sorriso
                    </h2>
                </a>
                <p class="post-meta">Tá na internet
                    <a href="#">É verdade</a>
                    on September 18, 2018</p>
            </div>

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Notificações antigas &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>
